// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

// notifications
include "notifications.kdl"

// environment
include "environment.kdl"

// spawn-at-startup
include "start.kdl"

// outputs
include "outputs.kdl"
include "dms/outputs.kdl" //dms overrides

// layer
include "layerrules.kdl"

// layout
include "layout.kdl"

// windowrules
include "windowrules.kdl"
include "dms/windowrules.kdl" //dms overrides

// inputs
include "gestures.kdl"
include "inputs.kdl"

// keybindings
include "binds.kdl"
include "dms/binds.kdl" //dms overrides

// animations
//include "animations/default/animations.kdl"
//include "animations/dissolve/animations.kdl"
include "animations/fade/animations.kdl"
//include "animations/glitch/animations.kdl"
//include "animations/pixelate/animations.kdl"
//include "animations/ripple/animations.kdl"
//include "animations/smoke/animations.kdl"
//include "animations/snap/animations.kdl"

// overview
include "overview.kdl"

// cursor
include "dms/cursor.kdl" //dms overrides

// debug
include "debug.kdl"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
